html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html {
  background: #000;
}

#slides {
  width: 100%;
  height: 100%;
}

#slides .not-match {
  opacity: 0.1 !important;
}

#slides .hidden {
  visibility: hidden !important;
}

#slides .unstaged {
  display: none !important;
}

#slides .untransformed {
  transform: initial !important;
}

.centering-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#querybox-container {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#querybox {
  width: 20em;
  height: 1.5em;
  max-width: 66%;
  opacity: 0;
  transition: opacity ease 200ms;
  font-size: 2em;
  padding: 0.25em 0.5em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
}

#querybox:focus {
  opacity: 1;
}
